._ws {
  flex: none;
  align-self: stretch;
}

._hs {
  flex: none;
  flex-grow: 1;
}

._p-row-tl-m2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
._p-row-tl-m2 > * {
  margin-right: 2px;
}
._p-row-tl-m2 > *:last-child {
  margin-right: 0;
}
._p-row-tl-m4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
._p-row-tl-m4 > * {
  margin-right: 4px;
}
._p-row-tl-m4 > *:last-child {
  margin-right: 0;
}
._p-row-tl-m8 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
._p-row-tl-m8 > * {
  margin-right: 8px;
}
._p-row-tl-m8 > *:last-child {
  margin-right: 0;
}
._p-row-tl-m12 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
._p-row-tl-m12 > * {
  margin-right: 12px;
}
._p-row-tl-m12 > *:last-child {
  margin-right: 0;
}
._p-row-tl-m16 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
._p-row-tl-m16 > * {
  margin-right: 16px;
}
._p-row-tl-m16 > *:last-child {
  margin-right: 0;
}
._p-row-tl-m20 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
._p-row-tl-m20 > * {
  margin-right: 20px;
}
._p-row-tl-m20 > *:last-child {
  margin-right: 0;
}
._p-row-tl-m24 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
._p-row-tl-m24 > * {
  margin-right: 24px;
}
._p-row-tl-m24 > *:last-child {
  margin-right: 0;
}
._p-row-tl-m28 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
._p-row-tl-m28 > * {
  margin-right: 28px;
}
._p-row-tl-m28 > *:last-child {
  margin-right: 0;
}
._p-row-tl-m40 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
._p-row-tl-m40 > * {
  margin-right: 40px;
}
._p-row-tl-m40 > *:last-child {
  margin-right: 0;
}
._p-row-tc-m2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
._p-row-tc-m2 > * {
  margin-right: 2px;
}
._p-row-tc-m2 > *:last-child {
  margin-right: 0;
}
._p-row-tc-m4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
._p-row-tc-m4 > * {
  margin-right: 4px;
}
._p-row-tc-m4 > *:last-child {
  margin-right: 0;
}
._p-row-tc-m8 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
._p-row-tc-m8 > * {
  margin-right: 8px;
}
._p-row-tc-m8 > *:last-child {
  margin-right: 0;
}
._p-row-tc-m12 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
._p-row-tc-m12 > * {
  margin-right: 12px;
}
._p-row-tc-m12 > *:last-child {
  margin-right: 0;
}
._p-row-tc-m16 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
._p-row-tc-m16 > * {
  margin-right: 16px;
}
._p-row-tc-m16 > *:last-child {
  margin-right: 0;
}
._p-row-tc-m20 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
._p-row-tc-m20 > * {
  margin-right: 20px;
}
._p-row-tc-m20 > *:last-child {
  margin-right: 0;
}
._p-row-tc-m24 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
._p-row-tc-m24 > * {
  margin-right: 24px;
}
._p-row-tc-m24 > *:last-child {
  margin-right: 0;
}
._p-row-tc-m28 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
._p-row-tc-m28 > * {
  margin-right: 28px;
}
._p-row-tc-m28 > *:last-child {
  margin-right: 0;
}
._p-row-tc-m40 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
._p-row-tc-m40 > * {
  margin-right: 40px;
}
._p-row-tc-m40 > *:last-child {
  margin-right: 0;
}
._p-row-tr-m2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
._p-row-tr-m2 > * {
  margin-right: 2px;
}
._p-row-tr-m2 > *:last-child {
  margin-right: 0;
}
._p-row-tr-m4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
._p-row-tr-m4 > * {
  margin-right: 4px;
}
._p-row-tr-m4 > *:last-child {
  margin-right: 0;
}
._p-row-tr-m8 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
._p-row-tr-m8 > * {
  margin-right: 8px;
}
._p-row-tr-m8 > *:last-child {
  margin-right: 0;
}
._p-row-tr-m12 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
._p-row-tr-m12 > * {
  margin-right: 12px;
}
._p-row-tr-m12 > *:last-child {
  margin-right: 0;
}
._p-row-tr-m16 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
._p-row-tr-m16 > * {
  margin-right: 16px;
}
._p-row-tr-m16 > *:last-child {
  margin-right: 0;
}
._p-row-tr-m20 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
._p-row-tr-m20 > * {
  margin-right: 20px;
}
._p-row-tr-m20 > *:last-child {
  margin-right: 0;
}
._p-row-tr-m24 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
._p-row-tr-m24 > * {
  margin-right: 24px;
}
._p-row-tr-m24 > *:last-child {
  margin-right: 0;
}
._p-row-tr-m28 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
._p-row-tr-m28 > * {
  margin-right: 28px;
}
._p-row-tr-m28 > *:last-child {
  margin-right: 0;
}
._p-row-tr-m40 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
._p-row-tr-m40 > * {
  margin-right: 40px;
}
._p-row-tr-m40 > *:last-child {
  margin-right: 0;
}
._p-row-cl-m2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
._p-row-cl-m2 > * {
  margin-right: 2px;
}
._p-row-cl-m2 > *:last-child {
  margin-right: 0;
}
._p-row-cl-m4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
._p-row-cl-m4 > * {
  margin-right: 4px;
}
._p-row-cl-m4 > *:last-child {
  margin-right: 0;
}
._p-row-cl-m8 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
._p-row-cl-m8 > * {
  margin-right: 8px;
}
._p-row-cl-m8 > *:last-child {
  margin-right: 0;
}
._p-row-cl-m12 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
._p-row-cl-m12 > * {
  margin-right: 12px;
}
._p-row-cl-m12 > *:last-child {
  margin-right: 0;
}
._p-row-cl-m16 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
._p-row-cl-m16 > * {
  margin-right: 16px;
}
._p-row-cl-m16 > *:last-child {
  margin-right: 0;
}
._p-row-cl-m20 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
._p-row-cl-m20 > * {
  margin-right: 20px;
}
._p-row-cl-m20 > *:last-child {
  margin-right: 0;
}
._p-row-cl-m24 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
._p-row-cl-m24 > * {
  margin-right: 24px;
}
._p-row-cl-m24 > *:last-child {
  margin-right: 0;
}
._p-row-cl-m28 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
._p-row-cl-m28 > * {
  margin-right: 28px;
}
._p-row-cl-m28 > *:last-child {
  margin-right: 0;
}
._p-row-cl-m40 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
._p-row-cl-m40 > * {
  margin-right: 40px;
}
._p-row-cl-m40 > *:last-child {
  margin-right: 0;
}
._p-row-cc-m2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
._p-row-cc-m2 > * {
  margin-right: 2px;
}
._p-row-cc-m2 > *:last-child {
  margin-right: 0;
}
._p-row-cc-m4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
._p-row-cc-m4 > * {
  margin-right: 4px;
}
._p-row-cc-m4 > *:last-child {
  margin-right: 0;
}
._p-row-cc-m8 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
._p-row-cc-m8 > * {
  margin-right: 8px;
}
._p-row-cc-m8 > *:last-child {
  margin-right: 0;
}
._p-row-cc-m12 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
._p-row-cc-m12 > * {
  margin-right: 12px;
}
._p-row-cc-m12 > *:last-child {
  margin-right: 0;
}
._p-row-cc-m16 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
._p-row-cc-m16 > * {
  margin-right: 16px;
}
._p-row-cc-m16 > *:last-child {
  margin-right: 0;
}
._p-row-cc-m20 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
._p-row-cc-m20 > * {
  margin-right: 20px;
}
._p-row-cc-m20 > *:last-child {
  margin-right: 0;
}
._p-row-cc-m24 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
._p-row-cc-m24 > * {
  margin-right: 24px;
}
._p-row-cc-m24 > *:last-child {
  margin-right: 0;
}
._p-row-cc-m28 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
._p-row-cc-m28 > * {
  margin-right: 28px;
}
._p-row-cc-m28 > *:last-child {
  margin-right: 0;
}
._p-row-cc-m40 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
._p-row-cc-m40 > * {
  margin-right: 40px;
}
._p-row-cc-m40 > *:last-child {
  margin-right: 0;
}
._p-row-cr-m2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
._p-row-cr-m2 > * {
  margin-right: 2px;
}
._p-row-cr-m2 > *:last-child {
  margin-right: 0;
}
._p-row-cr-m4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
._p-row-cr-m4 > * {
  margin-right: 4px;
}
._p-row-cr-m4 > *:last-child {
  margin-right: 0;
}
._p-row-cr-m8 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
._p-row-cr-m8 > * {
  margin-right: 8px;
}
._p-row-cr-m8 > *:last-child {
  margin-right: 0;
}
._p-row-cr-m12 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
._p-row-cr-m12 > * {
  margin-right: 12px;
}
._p-row-cr-m12 > *:last-child {
  margin-right: 0;
}
._p-row-cr-m16 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
._p-row-cr-m16 > * {
  margin-right: 16px;
}
._p-row-cr-m16 > *:last-child {
  margin-right: 0;
}
._p-row-cr-m20 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
._p-row-cr-m20 > * {
  margin-right: 20px;
}
._p-row-cr-m20 > *:last-child {
  margin-right: 0;
}
._p-row-cr-m24 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
._p-row-cr-m24 > * {
  margin-right: 24px;
}
._p-row-cr-m24 > *:last-child {
  margin-right: 0;
}
._p-row-cr-m28 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
._p-row-cr-m28 > * {
  margin-right: 28px;
}
._p-row-cr-m28 > *:last-child {
  margin-right: 0;
}
._p-row-cr-m40 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
._p-row-cr-m40 > * {
  margin-right: 40px;
}
._p-row-cr-m40 > *:last-child {
  margin-right: 0;
}
._p-row-bl-m2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
._p-row-bl-m2 > * {
  margin-right: 2px;
}
._p-row-bl-m2 > *:last-child {
  margin-right: 0;
}
._p-row-bl-m4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
._p-row-bl-m4 > * {
  margin-right: 4px;
}
._p-row-bl-m4 > *:last-child {
  margin-right: 0;
}
._p-row-bl-m8 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
._p-row-bl-m8 > * {
  margin-right: 8px;
}
._p-row-bl-m8 > *:last-child {
  margin-right: 0;
}
._p-row-bl-m12 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
._p-row-bl-m12 > * {
  margin-right: 12px;
}
._p-row-bl-m12 > *:last-child {
  margin-right: 0;
}
._p-row-bl-m16 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
._p-row-bl-m16 > * {
  margin-right: 16px;
}
._p-row-bl-m16 > *:last-child {
  margin-right: 0;
}
._p-row-bl-m20 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
._p-row-bl-m20 > * {
  margin-right: 20px;
}
._p-row-bl-m20 > *:last-child {
  margin-right: 0;
}
._p-row-bl-m24 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
._p-row-bl-m24 > * {
  margin-right: 24px;
}
._p-row-bl-m24 > *:last-child {
  margin-right: 0;
}
._p-row-bl-m28 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
._p-row-bl-m28 > * {
  margin-right: 28px;
}
._p-row-bl-m28 > *:last-child {
  margin-right: 0;
}
._p-row-bl-m40 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
._p-row-bl-m40 > * {
  margin-right: 40px;
}
._p-row-bl-m40 > *:last-child {
  margin-right: 0;
}
._p-row-bc-m2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
._p-row-bc-m2 > * {
  margin-right: 2px;
}
._p-row-bc-m2 > *:last-child {
  margin-right: 0;
}
._p-row-bc-m4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
._p-row-bc-m4 > * {
  margin-right: 4px;
}
._p-row-bc-m4 > *:last-child {
  margin-right: 0;
}
._p-row-bc-m8 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
._p-row-bc-m8 > * {
  margin-right: 8px;
}
._p-row-bc-m8 > *:last-child {
  margin-right: 0;
}
._p-row-bc-m12 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
._p-row-bc-m12 > * {
  margin-right: 12px;
}
._p-row-bc-m12 > *:last-child {
  margin-right: 0;
}
._p-row-bc-m16 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
._p-row-bc-m16 > * {
  margin-right: 16px;
}
._p-row-bc-m16 > *:last-child {
  margin-right: 0;
}
._p-row-bc-m20 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
._p-row-bc-m20 > * {
  margin-right: 20px;
}
._p-row-bc-m20 > *:last-child {
  margin-right: 0;
}
._p-row-bc-m24 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
._p-row-bc-m24 > * {
  margin-right: 24px;
}
._p-row-bc-m24 > *:last-child {
  margin-right: 0;
}
._p-row-bc-m28 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
._p-row-bc-m28 > * {
  margin-right: 28px;
}
._p-row-bc-m28 > *:last-child {
  margin-right: 0;
}
._p-row-bc-m40 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
._p-row-bc-m40 > * {
  margin-right: 40px;
}
._p-row-bc-m40 > *:last-child {
  margin-right: 0;
}
._p-row-br-m2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
._p-row-br-m2 > * {
  margin-right: 2px;
}
._p-row-br-m2 > *:last-child {
  margin-right: 0;
}
._p-row-br-m4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
._p-row-br-m4 > * {
  margin-right: 4px;
}
._p-row-br-m4 > *:last-child {
  margin-right: 0;
}
._p-row-br-m8 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
._p-row-br-m8 > * {
  margin-right: 8px;
}
._p-row-br-m8 > *:last-child {
  margin-right: 0;
}
._p-row-br-m12 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
._p-row-br-m12 > * {
  margin-right: 12px;
}
._p-row-br-m12 > *:last-child {
  margin-right: 0;
}
._p-row-br-m16 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
._p-row-br-m16 > * {
  margin-right: 16px;
}
._p-row-br-m16 > *:last-child {
  margin-right: 0;
}
._p-row-br-m20 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
._p-row-br-m20 > * {
  margin-right: 20px;
}
._p-row-br-m20 > *:last-child {
  margin-right: 0;
}
._p-row-br-m24 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
._p-row-br-m24 > * {
  margin-right: 24px;
}
._p-row-br-m24 > *:last-child {
  margin-right: 0;
}
._p-row-br-m28 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
._p-row-br-m28 > * {
  margin-right: 28px;
}
._p-row-br-m28 > *:last-child {
  margin-right: 0;
}
._p-row-br-m40 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
._p-row-br-m40 > * {
  margin-right: 40px;
}
._p-row-br-m40 > *:last-child {
  margin-right: 0;
}

._p-col-tl-m2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
._p-col-tl-m2 > * {
  margin-bottom: 2px;
}
._p-col-tl-m2 > *:last-child {
  margin-bottom: 0;
}
._p-col-tl-m4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
._p-col-tl-m4 > * {
  margin-bottom: 4px;
}
._p-col-tl-m4 > *:last-child {
  margin-bottom: 0;
}
._p-col-tl-m8 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
._p-col-tl-m8 > * {
  margin-bottom: 8px;
}
._p-col-tl-m8 > *:last-child {
  margin-bottom: 0;
}
._p-col-tl-m12 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
._p-col-tl-m12 > * {
  margin-bottom: 12px;
}
._p-col-tl-m12 > *:last-child {
  margin-bottom: 0;
}
._p-col-tl-m16 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
._p-col-tl-m16 > * {
  margin-bottom: 16px;
}
._p-col-tl-m16 > *:last-child {
  margin-bottom: 0;
}
._p-col-tl-m20 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
._p-col-tl-m20 > * {
  margin-bottom: 20px;
}
._p-col-tl-m20 > *:last-child {
  margin-bottom: 0;
}
._p-col-tl-m24 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
._p-col-tl-m24 > * {
  margin-bottom: 24px;
}
._p-col-tl-m24 > *:last-child {
  margin-bottom: 0;
}
._p-col-tl-m28 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
._p-col-tl-m28 > * {
  margin-bottom: 28px;
}
._p-col-tl-m28 > *:last-child {
  margin-bottom: 0;
}
._p-col-tl-m40 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
._p-col-tl-m40 > * {
  margin-bottom: 40px;
}
._p-col-tl-m40 > *:last-child {
  margin-bottom: 0;
}
._p-col-tc-m2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
._p-col-tc-m2 > * {
  margin-bottom: 2px;
}
._p-col-tc-m2 > *:last-child {
  margin-bottom: 0;
}
._p-col-tc-m4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
._p-col-tc-m4 > * {
  margin-bottom: 4px;
}
._p-col-tc-m4 > *:last-child {
  margin-bottom: 0;
}
._p-col-tc-m8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
._p-col-tc-m8 > * {
  margin-bottom: 8px;
}
._p-col-tc-m8 > *:last-child {
  margin-bottom: 0;
}
._p-col-tc-m12 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
._p-col-tc-m12 > * {
  margin-bottom: 12px;
}
._p-col-tc-m12 > *:last-child {
  margin-bottom: 0;
}
._p-col-tc-m16 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
._p-col-tc-m16 > * {
  margin-bottom: 16px;
}
._p-col-tc-m16 > *:last-child {
  margin-bottom: 0;
}
._p-col-tc-m20 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
._p-col-tc-m20 > * {
  margin-bottom: 20px;
}
._p-col-tc-m20 > *:last-child {
  margin-bottom: 0;
}
._p-col-tc-m24 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
._p-col-tc-m24 > * {
  margin-bottom: 24px;
}
._p-col-tc-m24 > *:last-child {
  margin-bottom: 0;
}
._p-col-tc-m28 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
._p-col-tc-m28 > * {
  margin-bottom: 28px;
}
._p-col-tc-m28 > *:last-child {
  margin-bottom: 0;
}
._p-col-tc-m40 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
._p-col-tc-m40 > * {
  margin-bottom: 40px;
}
._p-col-tc-m40 > *:last-child {
  margin-bottom: 0;
}
._p-col-tr-m2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
._p-col-tr-m2 > * {
  margin-bottom: 2px;
}
._p-col-tr-m2 > *:last-child {
  margin-bottom: 0;
}
._p-col-tr-m4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
._p-col-tr-m4 > * {
  margin-bottom: 4px;
}
._p-col-tr-m4 > *:last-child {
  margin-bottom: 0;
}
._p-col-tr-m8 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
._p-col-tr-m8 > * {
  margin-bottom: 8px;
}
._p-col-tr-m8 > *:last-child {
  margin-bottom: 0;
}
._p-col-tr-m12 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
._p-col-tr-m12 > * {
  margin-bottom: 12px;
}
._p-col-tr-m12 > *:last-child {
  margin-bottom: 0;
}
._p-col-tr-m16 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
._p-col-tr-m16 > * {
  margin-bottom: 16px;
}
._p-col-tr-m16 > *:last-child {
  margin-bottom: 0;
}
._p-col-tr-m20 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
._p-col-tr-m20 > * {
  margin-bottom: 20px;
}
._p-col-tr-m20 > *:last-child {
  margin-bottom: 0;
}
._p-col-tr-m24 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
._p-col-tr-m24 > * {
  margin-bottom: 24px;
}
._p-col-tr-m24 > *:last-child {
  margin-bottom: 0;
}
._p-col-tr-m28 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
._p-col-tr-m28 > * {
  margin-bottom: 28px;
}
._p-col-tr-m28 > *:last-child {
  margin-bottom: 0;
}
._p-col-tr-m40 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
._p-col-tr-m40 > * {
  margin-bottom: 40px;
}
._p-col-tr-m40 > *:last-child {
  margin-bottom: 0;
}
._p-col-cl-m2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
._p-col-cl-m2 > * {
  margin-bottom: 2px;
}
._p-col-cl-m2 > *:last-child {
  margin-bottom: 0;
}
._p-col-cl-m4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
._p-col-cl-m4 > * {
  margin-bottom: 4px;
}
._p-col-cl-m4 > *:last-child {
  margin-bottom: 0;
}
._p-col-cl-m8 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
._p-col-cl-m8 > * {
  margin-bottom: 8px;
}
._p-col-cl-m8 > *:last-child {
  margin-bottom: 0;
}
._p-col-cl-m12 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
._p-col-cl-m12 > * {
  margin-bottom: 12px;
}
._p-col-cl-m12 > *:last-child {
  margin-bottom: 0;
}
._p-col-cl-m16 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
._p-col-cl-m16 > * {
  margin-bottom: 16px;
}
._p-col-cl-m16 > *:last-child {
  margin-bottom: 0;
}
._p-col-cl-m20 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
._p-col-cl-m20 > * {
  margin-bottom: 20px;
}
._p-col-cl-m20 > *:last-child {
  margin-bottom: 0;
}
._p-col-cl-m24 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
._p-col-cl-m24 > * {
  margin-bottom: 24px;
}
._p-col-cl-m24 > *:last-child {
  margin-bottom: 0;
}
._p-col-cl-m28 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
._p-col-cl-m28 > * {
  margin-bottom: 28px;
}
._p-col-cl-m28 > *:last-child {
  margin-bottom: 0;
}
._p-col-cl-m40 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
._p-col-cl-m40 > * {
  margin-bottom: 40px;
}
._p-col-cl-m40 > *:last-child {
  margin-bottom: 0;
}
._p-col-cc-m2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
._p-col-cc-m2 > * {
  margin-bottom: 2px;
}
._p-col-cc-m2 > *:last-child {
  margin-bottom: 0;
}
._p-col-cc-m4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
._p-col-cc-m4 > * {
  margin-bottom: 4px;
}
._p-col-cc-m4 > *:last-child {
  margin-bottom: 0;
}
._p-col-cc-m8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
._p-col-cc-m8 > * {
  margin-bottom: 8px;
}
._p-col-cc-m8 > *:last-child {
  margin-bottom: 0;
}
._p-col-cc-m12 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
._p-col-cc-m12 > * {
  margin-bottom: 12px;
}
._p-col-cc-m12 > *:last-child {
  margin-bottom: 0;
}
._p-col-cc-m16 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
._p-col-cc-m16 > * {
  margin-bottom: 16px;
}
._p-col-cc-m16 > *:last-child {
  margin-bottom: 0;
}
._p-col-cc-m20 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
._p-col-cc-m20 > * {
  margin-bottom: 20px;
}
._p-col-cc-m20 > *:last-child {
  margin-bottom: 0;
}
._p-col-cc-m24 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
._p-col-cc-m24 > * {
  margin-bottom: 24px;
}
._p-col-cc-m24 > *:last-child {
  margin-bottom: 0;
}
._p-col-cc-m28 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
._p-col-cc-m28 > * {
  margin-bottom: 28px;
}
._p-col-cc-m28 > *:last-child {
  margin-bottom: 0;
}
._p-col-cc-m40 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
._p-col-cc-m40 > * {
  margin-bottom: 40px;
}
._p-col-cc-m40 > *:last-child {
  margin-bottom: 0;
}
._p-col-cr-m2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
._p-col-cr-m2 > * {
  margin-bottom: 2px;
}
._p-col-cr-m2 > *:last-child {
  margin-bottom: 0;
}
._p-col-cr-m4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
._p-col-cr-m4 > * {
  margin-bottom: 4px;
}
._p-col-cr-m4 > *:last-child {
  margin-bottom: 0;
}
._p-col-cr-m8 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
._p-col-cr-m8 > * {
  margin-bottom: 8px;
}
._p-col-cr-m8 > *:last-child {
  margin-bottom: 0;
}
._p-col-cr-m12 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
._p-col-cr-m12 > * {
  margin-bottom: 12px;
}
._p-col-cr-m12 > *:last-child {
  margin-bottom: 0;
}
._p-col-cr-m16 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
._p-col-cr-m16 > * {
  margin-bottom: 16px;
}
._p-col-cr-m16 > *:last-child {
  margin-bottom: 0;
}
._p-col-cr-m20 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
._p-col-cr-m20 > * {
  margin-bottom: 20px;
}
._p-col-cr-m20 > *:last-child {
  margin-bottom: 0;
}
._p-col-cr-m24 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
._p-col-cr-m24 > * {
  margin-bottom: 24px;
}
._p-col-cr-m24 > *:last-child {
  margin-bottom: 0;
}
._p-col-cr-m28 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
._p-col-cr-m28 > * {
  margin-bottom: 28px;
}
._p-col-cr-m28 > *:last-child {
  margin-bottom: 0;
}
._p-col-cr-m40 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
._p-col-cr-m40 > * {
  margin-bottom: 40px;
}
._p-col-cr-m40 > *:last-child {
  margin-bottom: 0;
}
._p-col-bl-m2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
._p-col-bl-m2 > * {
  margin-bottom: 2px;
}
._p-col-bl-m2 > *:last-child {
  margin-bottom: 0;
}
._p-col-bl-m4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
._p-col-bl-m4 > * {
  margin-bottom: 4px;
}
._p-col-bl-m4 > *:last-child {
  margin-bottom: 0;
}
._p-col-bl-m8 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
._p-col-bl-m8 > * {
  margin-bottom: 8px;
}
._p-col-bl-m8 > *:last-child {
  margin-bottom: 0;
}
._p-col-bl-m12 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
._p-col-bl-m12 > * {
  margin-bottom: 12px;
}
._p-col-bl-m12 > *:last-child {
  margin-bottom: 0;
}
._p-col-bl-m16 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
._p-col-bl-m16 > * {
  margin-bottom: 16px;
}
._p-col-bl-m16 > *:last-child {
  margin-bottom: 0;
}
._p-col-bl-m20 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
._p-col-bl-m20 > * {
  margin-bottom: 20px;
}
._p-col-bl-m20 > *:last-child {
  margin-bottom: 0;
}
._p-col-bl-m24 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
._p-col-bl-m24 > * {
  margin-bottom: 24px;
}
._p-col-bl-m24 > *:last-child {
  margin-bottom: 0;
}
._p-col-bl-m28 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
._p-col-bl-m28 > * {
  margin-bottom: 28px;
}
._p-col-bl-m28 > *:last-child {
  margin-bottom: 0;
}
._p-col-bl-m40 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
._p-col-bl-m40 > * {
  margin-bottom: 40px;
}
._p-col-bl-m40 > *:last-child {
  margin-bottom: 0;
}
._p-col-bc-m2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
._p-col-bc-m2 > * {
  margin-bottom: 2px;
}
._p-col-bc-m2 > *:last-child {
  margin-bottom: 0;
}
._p-col-bc-m4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
._p-col-bc-m4 > * {
  margin-bottom: 4px;
}
._p-col-bc-m4 > *:last-child {
  margin-bottom: 0;
}
._p-col-bc-m8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
._p-col-bc-m8 > * {
  margin-bottom: 8px;
}
._p-col-bc-m8 > *:last-child {
  margin-bottom: 0;
}
._p-col-bc-m12 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
._p-col-bc-m12 > * {
  margin-bottom: 12px;
}
._p-col-bc-m12 > *:last-child {
  margin-bottom: 0;
}
._p-col-bc-m16 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
._p-col-bc-m16 > * {
  margin-bottom: 16px;
}
._p-col-bc-m16 > *:last-child {
  margin-bottom: 0;
}
._p-col-bc-m20 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
._p-col-bc-m20 > * {
  margin-bottom: 20px;
}
._p-col-bc-m20 > *:last-child {
  margin-bottom: 0;
}
._p-col-bc-m24 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
._p-col-bc-m24 > * {
  margin-bottom: 24px;
}
._p-col-bc-m24 > *:last-child {
  margin-bottom: 0;
}
._p-col-bc-m28 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
._p-col-bc-m28 > * {
  margin-bottom: 28px;
}
._p-col-bc-m28 > *:last-child {
  margin-bottom: 0;
}
._p-col-bc-m40 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
._p-col-bc-m40 > * {
  margin-bottom: 40px;
}
._p-col-bc-m40 > *:last-child {
  margin-bottom: 0;
}
._p-col-br-m2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
._p-col-br-m2 > * {
  margin-bottom: 2px;
}
._p-col-br-m2 > *:last-child {
  margin-bottom: 0;
}
._p-col-br-m4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
._p-col-br-m4 > * {
  margin-bottom: 4px;
}
._p-col-br-m4 > *:last-child {
  margin-bottom: 0;
}
._p-col-br-m8 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
._p-col-br-m8 > * {
  margin-bottom: 8px;
}
._p-col-br-m8 > *:last-child {
  margin-bottom: 0;
}
._p-col-br-m12 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
._p-col-br-m12 > * {
  margin-bottom: 12px;
}
._p-col-br-m12 > *:last-child {
  margin-bottom: 0;
}
._p-col-br-m16 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
._p-col-br-m16 > * {
  margin-bottom: 16px;
}
._p-col-br-m16 > *:last-child {
  margin-bottom: 0;
}
._p-col-br-m20 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
._p-col-br-m20 > * {
  margin-bottom: 20px;
}
._p-col-br-m20 > *:last-child {
  margin-bottom: 0;
}
._p-col-br-m24 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
._p-col-br-m24 > * {
  margin-bottom: 24px;
}
._p-col-br-m24 > *:last-child {
  margin-bottom: 0;
}
._p-col-br-m28 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
._p-col-br-m28 > * {
  margin-bottom: 28px;
}
._p-col-br-m28 > *:last-child {
  margin-bottom: 0;
}
._p-col-br-m40 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
._p-col-br-m40 > * {
  margin-bottom: 40px;
}
._p-col-br-m40 > *:last-child {
  margin-bottom: 0;
}

._x2 {
  padding-top: 2px;
  padding-bottom: 2px;
}

._x4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

._x8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

._x12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

._x16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

._x20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

._x24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

._x28 {
  padding-top: 28px;
  padding-bottom: 28px;
}

._x40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

._y2 {
  padding-left: 2px;
  padding-right: 2px;
}

._y4 {
  padding-left: 4px;
  padding-right: 4px;
}

._y8 {
  padding-left: 8px;
  padding-right: 8px;
}

._y12 {
  padding-left: 12px;
  padding-right: 12px;
}

._y16 {
  padding-left: 16px;
  padding-right: 16px;
}

._y20 {
  padding-left: 20px;
  padding-right: 20px;
}

._y24 {
  padding-left: 24px;
  padding-right: 24px;
}

._y28 {
  padding-left: 28px;
  padding-right: 28px;
}

._y40 {
  padding-left: 40px;
  padding-right: 40px;
}

/*# sourceMappingURL=autolayout.css.map */
